:root {
  --White: rgb(255, 255, 255);
  --Light-Grey: rgb(149, 158, 172);
  --Medium-Grey: rgb(124, 135, 152);
  --Dark-Blue: rgb(37, 45, 55);
  --Very-Dark-Blue: 18, 20, 23;
  --Orange: rgb(251, 116, 19);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(var(--Very-Dark-Blue));
  font-family: "Overpass", sans-serif;
  line-height: 2;
}
p {
  font-size: 15px;
}
.hidden {
  display: none;
}
.feedback {
  background-color: var(--Dark-Blue);
  width: 90%;
  color: var(--White);
  padding: 1.5rem;
  border-radius: 25px;
}
.Star-img {
  background-color: rgb(var(--Very-Dark-Blue), 0.3);
  padding: 1rem;
  border-radius: 100%;
  margin-bottom: 1rem;
}
.Star-img,
.rating-btns,
.feedback-text p,
.feedback-text h1,
.thank-img {
  margin-bottom: 1rem;
}
.rating-btns {
  display: flex;
  justify-content: space-between;
}
.rating-btn {
  padding: 1rem 1.2rem;
  background-color: rgb(var(--Very-Dark-Blue), 0.3);
  color: var(--Light-Grey);
  border: none;
  border-radius: 100%;
  font-family: "Overpass", sans-serif;
}
.rating-btn:hover {
  background-color: var(--Orange);
  color: var(--White);
  cursor: pointer;
}
.submit-btn {
  padding: 14px 0;
  width: 100%;
  border: none;
  border-radius: 25px;
  background-color: var(--Orange);
  color: var(--White);
  font-family: "Overpass", sans-serif;
  font-size: 18px;
}
.submit-btn:hover {
  color: var(--Orange);
  background-color: var(--White);
  cursor: pointer;
}
.btn-click {
  background-color: var(--Medium-Grey);
  color: var(--White);
}
.thank-img {
  display: flex;
  justify-content: center;
}
.feedback-result {
  background-color: rgb(var(--Very-Dark-Blue), 0.3);
  color: var(--Orange);
  width: fit-content;
  border: none;
  border-radius: 25px;
  padding: 0.2rem 1rem;
  margin: auto;
  margin-bottom: 1rem;
}
.feedback-text {
  text-align: center;
}
@media (min-width: 425px) {
  .feedback {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .feedback {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .feedback {
    width: 30%;
  }
}
